node_modules
public/css/main.css
public/js/bundle.js
fonts
.sass-cache
npm-debug.log

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
