.profile {
    @include outer-container;
    position: relative;
    margin-top: 20px;
    .header-box {
        @include span-columns(12);
        height: 200px;
        .img {
            @include span-columns(3);
            height: 100%;
            background: rgb(134, 134, 134);
            border-radius: 10em;
            width: 200px;
            background-size: 250px, cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        .headline {
            @include span-columns(9);
            position: relative;
            height: 100%;
            text-align: left;
            .headline-text {
                margin-top: 20px;
                font-size: 44px;
                margin-left: 50px;
            }
        }

    }
    .main-box {
        @include span-columns(12);
        margin-top: 50px;
        .details-box {
            @include span-columns(3);
            .details-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
        .bio-box {
            @include span-columns(9);
            // @include outer-container;
            p {
                line-height: 1.5;
                white-space: pre-wrap;
            }
        }

    }
    .links-box {
        @include span-columns(12);
        margin-top: 30px;
        .link-list {
            list-style: none;
            padding: 0;
            margin: 0;
            .link-inner {

            }
        }
    }
}
