.alert-box {
    bottom: 30px;
    left: 30px;
    position: fixed;
    z-index: 6000;
    @include media($mobile) {
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 500;
    };
    .alert-window {
        padding: 15px;
        max-height: 50px;
        background-color: $gunmetal;
        color: $main-white;
        border-radius: 2px;
        display: table;
        margin-top: 10px;
        bottom: 0;
        @include media($mobile) {
            width: 100%;
        };
        &.enter {
            opacity: 0;
            transform: translateY(20px);
        }
        &.active {
            opacity: 1;
            transform: translateY(0);
            transition: all 200ms ease-in-out;
        }
        &.leave {
            opacity: 0;
            transform: translateY(-20px);
            transition: all 200ms ease-in-out;
        }
    }
    .alert-icon, .alert-message {
        font-size: 20px;
        float: left;
    }
}
