$menu-speed: 350ms;
$transition: all cubic-bezier(.62,.28,.23,.99) $menu-speed;

.navbar-list .loader {
    font-size: 25px;
    padding: 17px;
    margin-right: 20px;
}

.navbar {
    background-color: $gunmetal;
    border-bottom: solid 1px #747474;
    box-shadow: 0 0px 4px #565656;
    color: $main-white;
    position: fixed;
    height: $navbar-height;
    width: 100%;
    top: 0;
    margin: 0;
    z-index: 1000;
    .brand {
        text-align: center;
        width: 150px;
        max-height: 100%;
        font-size: 25px;
        left: 50%;
        transform: translateX(-75px);
        position: absolute;
        padding: 15px;
        border-left: solid 1px #747474;
        border-right: solid 1px #747474;
        .brand-text {
            @include transition-property(all);
            @include transition-duration(1s);
            @include transition-timing-function(ease-in);
        }
        .brand-text:hover {
            text-shadow: 0 0 6px rgb(216, 100, 222);
            @include transition-property(all);
            @include transition-duration(700ms);
            @include transition-timing-function(ease-out);
        }
    }
    .menu-bar-icon {
        height: 100%;
        float: left;
        .icon-menu {
            padding: 15px;
            font-size: 30px;
            top: 13px;
            position: relative;
            z-index: 2500;
            cursor: pointer;
            &:before {
                transition: $transition;
                transform: rotate(0deg);
            }
            &.open:before {
                transform: rotate(90deg);
                transition: $transition;
            }
        }
    }
}


.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    .navbar-list-item {
        display: inline-block;
        margin: 6.6px;
        cursor: pointer;
        margin-right: 30px;
        .navbar-link {
            top: -23px;
            position: relative;
        }
        .user-image {
            height: 50px;
            width: 50px;
            border-radius: 20em;
            border: 2px solid $main-white;
            background-size: cover;
            background-position: center;
        }
    }
    &.no-user {
        .navbar-link {
            top: 0;
        }
        .navbar-list-item {
            margin: 18.6px;
        }
    }
    .messages {
        font-size: 20px;
    }
}


.menu {
    width: 100%;
    transition: all cubic-bezier(0.62, 0.28, 0.23, 0.99) 350ms;
    height: 0px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba($gunmetal, 0.99);
    z-index: 2000;
    transition: $transition;
    top: $navbar-height;
    overflow: scroll;
    &.open {
        max-height: 1600px;
        height: 100vh;
        width: 100%;
        transition: $transition;
    }
    .menu-content {
        width: 60%;
        height: 100%;
        margin-top: 50px;
        &.enter {
            opacity: 0;
        }
        &.active {
            opacity: 1;
            transition:all cubic-bezier(.62,.28,.23,.99) $menu-speed;
        }
        &.leave {
            opacity: 0;
            // transform: translateY(-100px);
            transition: all cubic-bezier(.62,.28,.23,.99) 100ms;
        }
        .menu-content-list {
            height: 100%;
            margin: 0;
            display: table-cell;
            vertical-align: middle;
            transform: translateY(-1px);
            padding: 0;
            // text-align: center;
        }
        .menu-section {
            @include span-columns(12);
            margin-bottom: 30px;
            .menu-list-group {
                margin-bottom: 15px;
            }
            .menu-list-item {
                @include span-columns(12);
                margin-top: 15px;
                padding-left: 10px;
                // margin-top: 50px;
                // &:last-child {
                //     margin-top: 0px;
                // }
            }
        }
        .menu-section-icon {
            position: absolute;
            left: -60px;
            padding: 7px;
            font-size: 25px;
        }
    }
}
