
.band-selection {
    padding: 20px;
    position: relative;
    min-width: 50%;
    max-width: 80%;
    &.modal-inner {
        @include outer-container;
    }
    .headline {
        margin: 0;
        margin-bottom: 15px;
    }
    .date {
        text-align: center;
        margin-bottom: 15px;
    }
    .order {
        text-align: center;
        position: relative;
        @include media($mobile) {
            padding: 10px;
            border-top: solid 1px lighten($gunmetal, 60%);
            border-bottom: solid 1px lighten($gunmetal, 60%);
            background-color: $main-green;
            &:before, &:after {
                display: none;
            }
        };
        &:before {
            content: '';
            position: absolute;
            height: 7px;
            top: 6px;
            width: 30%;
            left: 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        &:after {
            content: '';
            position: absolute;
            height: 7px;
            top: 6px;
            width: 30%;
            right: 0;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
    }
    .select-headline {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .band-list {
        padding: 0;
        list-style: none;
        height: auto;
        display: inline-block;
        .band-list-item {
            padding: 10px;
            margin: 10px;
            height: 75px;
            cursor: pointer;
            border-radius: 2px;
            @include card-shadow;
            @include media($mobile) {
                @include span-columns(12);
                margin: 0;
                margin-bottom: 20px;
                height: auto;
                float: left;
            };
            @include media($tablet) {
                @include span-columns(12);
                margin: 0;
                margin-bottom: 20px;
                height: auto;
                float: left;
            };
            &:hover {
                background-color: lighten($main-blue, 5%);
                color: white;
            }
            .band-image {
                @include span-columns(2);
                overflow: hidden;
                border-radius: 20em;
                border: solid 1px black;
                height: 50px;
                width: 50px;
                position: relative;
                @include media($mobile) {
                    display: none;
                };
                img {
                    width: auto;
                    max-width: 150px;
                    height: auto;
                    max-height: 150px;
                }
            }
            .band-title {
                @include span-columns(8);
                width: 80%;
                overflow: hidden;
                height: auto;
                .text {
                    padding: 15px;
                    white-space: nowrap;
                    @include media($mobile) {
                        white-space: normal;
                    };
                }
            }
        }
    }
    .select-headline {
        margin-top: 15px;
    }
}

.booking-page {
    background-image: url('../assets/shattered_textile.png');
    top: 0;
    position: absolute;
    @include span-columns(12);
    .booking-checkout {
        @include outer-container;
        .title, .disclaimer {
            text-align: center;
        }
        .title {
            font-size: 40px;
        }
        .disclaimer {
            line-height: 1.4;
            margin-top: 10px;
        }
        .booking-header {
            border-bottom: solid 0px black;
            margin-bottom: 25px;
            height: 150px;
            @include media($mobile) {
                height: 200px;
            };
        }
    }
    .booking-details {
        .details-section {
            margin-bottom: 20px;
            margin-top: 30px;
            @include outer-container;
            .details-header {
                @include span-columns(3);
                margin: 0;
                text-align: center;
                padding: 10px;
                background-color: $purple;
                padding: 20px;
                color: $main-white;
                position: relative;
                border-radius: 6px;
                @include media($desktop) {
                    &:after {
                        content: '';
                        position: absolute;
                        height: 81px;
                        right: -12px;
                        top: 0;
                        width: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 12px solid $purple;
                    }
                };
                @include media($tablet) {
                    &:after {
                        content: '';
                        position: absolute;
                        height: 81px;
                        right: -12px;
                        top: 0;
                        width: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 12px solid $purple;
                    }
                };

                @include media($mobile) {
                    @include span-columns(12);
                    left: 0;
                    margin: 0;
                    margin-top: 25px;
                    margin-bottom: 40px;
                };
                @include media($tablet) {
                    // left: 0;
                    // margin: 0;
                    // margin-top: 25px;
                    // margin-bottom: 40px;
                };
            }
            .details-content {
                @include span-columns(6);
                padding: 25px;
                @include media($mobile) {
                    @include span-columns(12);
                    text-align: center;
                };
                @include media($tablet) {
                    // margin-top: 25px;
                    // margin-bottom: 40px;
                };
            }
            &:nth-last-child(2) .details-content {
                padding: 0px;
            }
            .button {
                @include span-columns(6);
                margin: 0;

                @include media($mobile) {
                    @include span-columns(12);
                };
            }
        }
    }
}
