$blue: darken(mix($teal, $main-blue, 80%), 35%);

.dashboard {
    section {
        height: 600px;

        .dash-section-header {
            // position: absolute;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 2em;
            border-bottom: solid 1px;
        }
        .dash-section-3 {
            @include span-columns(3);
            height: 100%;
            min-width: 200px;
            background-color: $purple;
            position: relative;
            overflow: hidden;
            @include media($mobile) {
                @include span-columns(12);
            };
            .user-image {
                padding: 30px;
                height: 150px;
                width: 150px;
                text-align: center;
                margin: auto;
                border: solid 2px $main-white;
                border-radius: 6em;
                margin-top: 40px;
                position: relative;
                background: $gunmetal;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
            .settings-icons {
                @include span-columns(8);
                @include shift(2);
                margin-top: 25px;
                text-align: center;
                position: relative;
                .setting-icon {
                    @include span-columns(4);
                    text-align: center;
                    color: white;
                    font-size: 25px;
                }
            }
            .search-selector {
                display: none;
                opacity: 0;
                position: absolute;
                right: 2px;
                width: 200px;
                z-index: 1000;

                @include transform(translateY(20px));
                @include user-select(none);
                .search-selector-inner {
                    height:50px;
                    width: 100%;
                    background: white;
                    color: black;
                    padding: 15px;
                    cursor: pointer;
                    border-right: solid 1px black;
                    box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);

                }
                &.show {
                    opacity: 1;
                    @include transition(opacity 250ms $swift-out);
                    height: auto;
                    display: block;
                }
                .arrow-up {
                    position: absolute;
                    left: 25px;
                    top: -10px;
                    width: 0px;
                    height: 0px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid white;
                }
            }
        }
        .dash-section-9 {
            @include span-columns(9);
            height: 100%;
            float: left;
            overflow: scroll;
            @include media($mobile){
                @include span-columns(12);
                @include outer-container;
            };
            &.upcoming-gigs {
                @include media($tablet) {
                    @include span-columns(8);
                };
            }
            .dash-section-search{
                // @include span-columns(12);
                height: 50px;
                padding: 10px;
                text-align: center;
                border-bottom: solid 0px;
                background: $main-blue;
                @include card-shadow;
            }
        }
        .dash-section-12 {
            @include span-columns(12);
            padding: 10px;
            height: auto;
            min-height: 600px;
            &.user-assets {
                @include background(url('../assets/edge_textile.png'));
                position: relative;
                background-size: cover;
                color: $main-white;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    opacity: .5;
                    background: rgba(240, 244, 247, 0.91);
                }

            }
        }
        .user-assets-cards {
                height: 100%;
                width: 95vw;
                padding: 20px;
                list-style: none;
                @include outer-container(100%);
            .asset-card {
                @include media($mobile) {
                    @include span-columns(12);
                    @include omega(1n);
                };
                @include media($tablet) {
                    @include span-columns(6);
                    @include omega(2n);
                };
                @include media($desktop) {
                    @include span-columns(4);
                    @include omega(3n);
                };
                border-radius: 3px;
                height: 350px;
                float: left;
                background: $main-white;
                color: $gunmetal;
                margin-bottom: 20px;
                position: relative;
                cursor: pointer;
                box-shadow:  0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);;
                @include card-shadow;
                .inner {
                    @include span-columns(12);
                    height: 50%;
                    background-color: lighten($main-white, 30%);
                    &.img {
                        background-color: lighten($gunmetal, 60%);
                        background-position: left;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    &.content {
                        padding: 20px;
                        height: 30%;
                        .subtitle {
                            color: rgb(149, 149, 149);
                        }
                    }
                    &.show-box {
                        @include span-columns(12);
                        height: 20%;
                        text-align: center;
                        border-top: 1px solid;
                        .section {
                            width: 50%;
                            padding: 20px;
                            cursor: pointer;
                            float: left;
                            font-size: 24px;
                            height: 100%;
                            &:hover {
                                background-color: rgb(75, 75, 75);
                                color: white;
                            }
                        }
                    }
                }
                &.new-asset {
                    text-align: center;
                    // color: rgba(89, 89, 89, 0.57);
                    &:hover {
                        box-shadow:0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                    }
                    .new-item.section {
                        height: 50%;
                        width: 100%;
                        padding: 34px;
                        cursor: pointer;
                        @include transition(all 0.3s cubic-bezier(.25,.8,.25,1));
                        &:hover {
                            box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 8px 24px rgba(0,0,0,0.32);
                        }
                        &.last:hover {
                            box-shadow: 0 -14px 28px rgba(0,0,0,0.35), 0 -8px 24px rgba(0,0,0,0.32);
                        }
                    }
                    .icon-plus-circled {
                        font-size: 80px;
                        padding: 15%;
                    }

                }
            }
        }
        .icon-loader {
            font-size: 50px;
            float: left;
            text-align: center;

            // margin: 175px;
            @include span-columns(4);
        }
    }
}

.assetcard-enter {
    opacity: 0.01;
    transform: translateY(100px);
}

.assetcard-enter.assetcard-enter-active {
    opacity: 1;
    transform: translateX(0px);
    @include transition(all 150ms $swift-out);
}

.assetcard-leave {
    opacity: 1;
    transform: translateX(0px);
}

.assetcard-leave.assetcard-leave-active {
    opacity: 0.01;
    transform: translateY(-20px);
    @include transition(all 150ms $swift-out);
}


.upcoming-gigs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    @include outer-container;
    .upcoming-gig-item {
        @include span-columns(12);
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
        height: 85%;
        padding: 7px;
        position: relative;
        @include transition(all 250ms $swift-out);
        @include media($mobile) {
            @include span-columns(12);
        };
        @include media($tablet) {
            @include span-columns(12);
        };
        .date-box {
            float: left;
            border-radius: 2px;
            @include span-columns(3);
            position: relative;
            padding: 10px;
            .icon-success {
                position: absolute;
                top: 28%;
                left: 0px;
                font-size: 30px;
                color: $main-green;
            }
            .month, .day {
                text-align: left;
                margin-left: 50px;
            }
            .day {
                font-size: 34px;
            }
            @include media($mobile) {
                float: left;
                border-radius: 2px;
                @include span-columns(4);
                position: relative;
                padding: 10px;
                .icon-success {
                    display: none;
                }
                .month,.day {
                    text-align: center;
                    margin-left: 0px;
                }
                .day {
                    font-size: 26px;
                }
            };

        }
        .content-box {
            padding: 10px;
            @include span-columns(9);
            @include media($mobile) {
                @include span-columns(8);
                padding: 5px;
            };
            .content-title {
                margin: 5px;
                font-size: 20px;
            }
        }
    }
}
