.message-page {
    height: calc(100vh - #{$navbar-height});
    @include outer-container;
    @include media($mobile) {
        position: absolute;
        overflow: hidden;
    };
    .inbox-list-mobile-menu-button {
        display: none;
        @include media($mobile) {
            display: block;
            position: absolute;
            bottom: 75px;
            right: 15px;
            width: 50px;
            height: 50px;
            background: blue;
            border-radius: 20em;
            padding: 10px;
            text-align: center;
            z-index: 2000;
            cursor: pointer;
            box-shadow: 0 3px 10px rgba(0,0,0,0.35), 0 4px 8px rgba(0,0,0,0.32);
        };
        .icon-mail {
            top: 3px;
            color: $main-white;
            position: relative;
            font-size: 20px;
        }
    }
    .messages-main {
        height: 627px;
        width: 100%;
        position: relative;
        .inbox-list {
            @include span-columns(3);
            height: 100%;
            @include media($mobile) {
                width: 0px;
                transform: translateX(-300px);
                position: absolute;
                overflow: hidden;
                margin: 0;
                background-color: $main-white;
                @include transition(all 350ms $swift-out);
                z-index: 1000;
                &.open {
                    width: 100vw;
                    transform: translateX(0px);
                    @include transition(all 350ms $swift-out);
                }
            };
            .select-inbox-box {
                height: 75px;
            }
            .inbox-list-title {
                padding: 22px;
                text-align: center;
                color: $gunmetal;
                @include media($mobile) {
                    display: none;
                };
            }
        }
        .messages-window {
            @include span-columns(9);
            height: auto;
            @include media($mobile) {
                @include outer-container;
                width: 100vw;
            };
            .current-message-chain {
                height: 75px;
                overflow: hidden;
                padding: 20px;
                .message-chain-title {
                    width: 100%;
                    white-space: nowrap;
                    @include media($mobile) {
                        font-size: 12px;
                    };
                    .title-image {
                        height: 40px;
                        width: 40px;
                        border-radius: 20em;
                        float: left;
                        background-size: cover;
                        margin-right: 10px;
                        border: solid 1px grey;
                        @include media($mobile) {
                            display: none;
                        };
                    }
                }
            }
            .digest {
                height: 450px;
                box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                @include media($mobile){
                    height: 350px;
                };
            }
            .reply {
                height: 100px;
                position: relative;
                margin-bottom: 10px;
                .cover-sending.show ~ .textbox, .cover-sending.show ~ .button{
                    @include filter(blur(3px));
                    @include transition(all 300ms $swift-out);
                }

                .textbox {
                    width: 100%;
                    height: 100%;
                    @include transition(all 300ms $swift-out);
                    textarea {
                        width: 100%;
                        height: 100%;
                        resize: none;
                        padding: 20px;
                        font-size: 18px;
                        padding-right: 17%;
                        outline: none;
                        border: 0px;
                        box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                    }
                }
                .button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 15px;
                    margin: 25px;
                    height: 50%;
                    width: 100px;
                    color: $main-white;
                    @include transition(all 300ms $swift-out);
                    @include media($mobile) {
                        padding: 8px;
                        margin: 0px;
                        bottom: 0;
                        top: inherit;
                        height: 35%;
                        width: 60px;
                    };
                }
                .cover-sending {
                    height: 0px;
                    width: 100%;
                    overflow: hidden;
                    position: absolute;
                    z-index: 1000;
                    background-color: rgba(185, 180, 180, 0.71);
                    font-size: 40px;
                    text-align: center;
                    color: $gunmetal;
                    @include transition(all 300ms $swift-out);
                    &.show {
                        height: 100%;
                        padding: 3%;
                        @include transition(all 300ms $swift-out);
                    }
                }
            }
        }
    }
}

.confirm-navigation {
    max-width: 400px;
    padding: 20px;
    .confirm-text {
        text-align: center;
        .main {
            margin: 10px;
        }
        .helper {
            margin: 10px;
        }
    }
}


.select-inbox-box {
    cursor: pointer;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
    margin-bottom: 10px;
    .current-active {
        height: 100%;
        padding: 25px;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        @include span-columns(10);
    }
    .current-active-select {
        @include span-columns(2);
        padding: 5px;
        text-align: center;
        margin-top: 17px;
        font-size: 20px;
        margin-right: 0;
    }
    .inactive-inbox-dropdown {
        z-index: 2000;
        overflow: hidden;
        position: absolute;
        width: 100%;
        background: white;
        max-height: 0px;
        top: 75px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
        @include transition(all 250ms $swift-out);
        &.show {
            display: block;
            height: auto;
            max-height: 1500px;
            @include transition(all 550ms $swift-out);
        }
        .inactive-inbox-list {
            padding: 0px;
            font-size: 20px;
            list-style: none;
            margin: 0;
            li {
                margin: 5px;
                padding: 10px;
                &:hover {
                    background-color: lighten($purple, 15%);
                    border-radius: 2px;
                    cursor: pointer;
                }
            }
        }
    }
}

.messages-group {
    .messages-group-list {
        padding: 0;
        list-style: none;
        margin: 0;
        .messages-group-item {
            position: relative;
            padding: 20px;
            font-size: 20px;
            margin: 10px;
            border-radius: 3px;
            @include transition(all 300ms $swift-out);
            &:hover {
                background-color: lighten($purple, 15%);
                cursor: pointer;
            }
            &.active {
                background-color: $purple;
                color: $main-white;
                box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                @include transition(all 300ms $swift-out);
            }
            .unread-badge {
                height: 15px;
                width: 15px;
                position: absolute;
                right: -20px;
                top: 40%;
                border-radius: 20em;
                background-color: transparent;
                &.hasUnread {
                    background-color: $main-blue;
                }
            }
        }
    }
}

.messages-window {
    .digest {
        overflow: scroll;
        // padding-top: 50px;
        padding-bottom: 50px;
        .digest-list {
            list-style: none;
            padding: 0;
            margin: 0;
            .list-item {
                height: auto;
                // padding: 10px;
                // min-height: 50px;
                // width: 100%;
                position: relative;
                // margin: 10px;
                border: 0;
            }
            .message-body {
                height: auto;
                padding: 10px;
                min-height: 50px;
                width: 55%;
                position: relative;
                margin: 10px;
                border-radius: 5px;
                border: 0;
                @include media($mobile) {
                    width: 75%;
                };
                // box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                .message-content {
                    white-space: pre-wrap;
                }
                &.isme {
                    float: right;
                    background-color: lighten($main-blue, 15%);
                    margin-left: 45%;
                    &:before {
                        border-width: 20px 0 0px 30px;
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        border-style: solid;
                        display: block;
                        width: 0;
                        right: 10px;
                        border-width: 12px 0 0 30px;
                        border-color: lighten($main-blue, 15%) transparent;
                        // box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
                    }
                }
                &.notme {
                    float: left;
                    background-color: #e0e0e0;
                    margin-right: 45%;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -12px;
                        border-style: solid;
                        display: block;
                        width: 0;
                        border-color: #e0e0e0 transparent;
                        left: 10px;
                        border-width: 12px 30px 0 0;
                    }
                }
                .timestamp {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}







.message-timeslot {
    text-align: center;
    .autogen {
        font-size: 14px;
    }
    .with-status {
        background-color: $main-white;
        padding: 10px;
        width: 50%;
        margin: auto;
        font-size: 20px;
        &.accepted {
            color: #66BB6A;
        }
        &.rejected {
            color: lighten($crimson, 10%);
        }
    }
}




.messagebox-enter {
    opacity: 0.01;
    transform: translateY(30px);
}

.messagebox-enter.messagebox-enter-active {
    opacity: 1;
    transform: translateY(0px);
    @include transition(all 150ms $swift-out);
}

.messagebox-leave {
    opacity: 1;
    transform: translateY(0px);
}

.messagebox-leave.messagebox-leave-active {
    opacity: 0.01;
    transform: translateY(-30px);
    @include transition(all 150ms $swift-out);
}



.grouptitle-enter {
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
    @include transition(all 350ms $swift-out);
}

.grouptitle-enter.grouptitle-enter-active {
    opacity: 1;
    transform: translateY(0px);
}

.grouptitle-leave {
    opacity: 1;
    position: absolute;
    transform: translateY(0px);
}

.grouptitle-leave.grouptitle-leave-active {
    opacity: 0;
    transform: translateY(20px);
    @include transition(all 150ms $swift-out);
}
