
.icon-search:before { content: '\e800'; } /* '' */
.icon-plus-circled:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-loader:before { content: '\e839'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */