$main-white: #f0f4f7;
$gunmetal: #373737;
$purple: #7f5ffb;
$teal: #6ED3CF;
$crimson: #E62739;
$main-blue: #2196F3;



$swift-out: cubic-bezier(.55, 0, .1, 1);


$navbar-height: 65px;
//style guidelines
//backgrounds - main white
//navbar - gunmetal


$mobile: new-breakpoint(max-width 480px);
$tablet: new-breakpoint(min-width 481px max-width 849px);
$desktop: new-breakpoint(min-width 850px);


// ------------------------------------------------------------
// Override Neat's grid settings
// ------------------------------------------------------------

$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 3) !default; // Gutter between each two columns

// ------------------------------------------------------------
// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;


// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}



@mixin card-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.32), 0 1px 2px rgba(0,0,0,0.44);
    @include transition(all 0.3s cubic-bezier(.25,.8,.25,1));
    &:hover {
        @include transition(all 0.3s cubic-bezier(.25,.8,.25,1));
        box-shadow: 0 18px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.32);
    }
}
